$primary-color:  #0290ff;
$secondary-color: #fff;
$tertiary-color: #121212;
$quaternary-color: #4386bf;
$quinary-color: #fafafa;
$senary-color: #e8e8e8;

$font-mon: 'Montserrat', sans-serif;
$font-robslab: 'Roboto Slab', serif;
