@import 'variables';

.Books-list {
  table {
    width: 100%;
    margin: auto;
    background-color: brown;
  }
}

.Book {
  margin: 14px 100px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px $senary-color;
  background-color: $secondary-color;

  .book-info {
    width: 50%;
    margin-right: 40px;

    .book-category {
      width: 49px;
      height: 18px;
      margin: 0 39px 0 0;
      opacity: 0.5;
      font-family: $font-mon;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $tertiary-color;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  .book-percentage {
    width: 25%;
    margin-right: 40px;
  }

  .book-progress {
    width: 25%;
  }
}
