@import 'variables';

.Books-list {
  table {
    width: 100%;
    margin: auto;
    background-color: $quinary-color;
  }
}

.Book {
  width: 1200px;
  height: 170px;
  margin: 14px 100px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: solid 1px $senary-color;
  background-color: $secondary-color;

  .book-info {
    width: 40%;

    .info-category {
      opacity: 0.5;
      font-family: $font-mon;
      font-size: 14px;
      font-weight: bold;
      color: $tertiary-color;
    }

    h2 {
      height: 29px;
      margin-top: 3px;
      font-family: $font-robslab;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: $tertiary-color;
    }

    .info-author {
      margin-top: 4px;
      font-family: $font-robslab;
      font-size: 14px;
      font-weight: 300;
      color: $quaternary-color;
    }

    ul {
      width: 215px;
      margin-top: 21px;
      display: flex;
      justify-content: space-between;

      button {
        padding: 0;
        border: none;
        background-color: transparent;
      }

      .info-op {
        font-family: $font-robslab;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #4386bf;
      }

      .book-border {
        height: 24px;
        padding-right: 15px;
        border-right: 2px solid $senary-color;
      }
    }
  }

  .book-percentage {
    height: 68px;
    width: 25%;
    padding-right: 79px;
    display: flex;
    align-items: center;
    border-right: 2px solid $senary-color;

    .percentage-circle {
      width: 68px;
      height: 68px;
      margin-right: 20px;
      border-style: solid;
      border-width: 5px;
      border-radius: 50%;
      border-top-color: $primary-color;
      border-right-color: $primary-color;
      border-bottom-color: $primary-color;
      border-left-color: $senary-color;
      transform: rotate(45deg);
    }

    .percentage-number {
      font-family: $font-mon;

      h3 {
        width: 68px;
        height: 39px;
        font-size: 32px;
        font-weight: normal;
      }

      p {
        width: 80px;
        opacity: 0.5;
        font-size: 14px;
      }
    }
  }

  .book-progress {
    margin-right: 59px;
    font-family: $font-robslab;

    .progress-chapter {
      opacity: 0.5;
      font-size: 13px;
      font-weight: 300;
    }

    .progress-number-chapter {
      width: 75px;
      height: 21px;
      margin-top: 7px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -0.4px;
    }

    .progress-button {
      width: 184px;
      height: 33px;
      margin-top: 23px;
      padding: 7px 19px 8px 22px;
      font-family: $font-robslab;
      font-weight: 300;
      color: $secondary-color;
      border-radius: 3px;
      border: none;
      background-color: $primary-color;
    }
  }
}
