@import 'variables';

.Books-list {
  table {
    width: 100%;
    margin: auto;
    background-color: brown;
  }
}

.Book {
  margin: 14px 100px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px $senary-color;
  background-color: $secondary-color;

  .book-info {
    width: 50%;
    margin-right: 40px;

    .book-category {
      opacity: 0.5;
      font-family: $font-mon;
      font-size: 14px;
      font-weight: bold;
      color: $tertiary-color;
    }

    h2 {
      height: 29px;
      margin-top: 3px;
      font-family: $font-robslab;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: $tertiary-color;
    }

    .book-author {
      width: 107px;
      height: 19px;
      margin-top: 4px;
      font-family: $font-robslab;
      font-size: 14px;
      font-weight: 300;
      color: $quaternary-color;
    }

    ul {
      width: 70%;
      margin-top: 21px;
      display: flex;
      justify-content: space-between;

      button {
        padding: 0;
        border: none;
        background-color: transparent;
      }

      .book-info-op {
        font-family: $font-robslab;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #4386bf;
      }

      .book-border {
        height: 24px;
        padding-right: 10%;
        border-right: 2px solid $senary-color;
      }
    }
  }

  .book-percentage {
    width: 25%;
    margin-right: 40px;
    display: flex;
    align-items: center;

    .book-percentage-circle {
      width: 68px;
      height: 68px;
      margin-right: 20px;
      border-style: solid;
      border-width: 5px;
      border-radius: 50%;
      border-top-color: $primary-color;
      border-right-color: $primary-color;
      border-bottom-color: $primary-color;
      border-left-color: $senary-color;
      transform: rotate(45deg);
    }

    .book-percentage-number {
      font-family: $font-mon;

      h3 {
        width: 68px;
        height: 39px;
        font-size: 32px;
        font-weight: normal;
      }

      p {
        width: 80px;
        opacity: 0.5;
        font-size: 14px;
      }
    }
  }

  .book-progress {
    width: 25%;
  }
}
