@import 'variables';

.Category-filter {
  padding-bottom: 50px;
  margin: 19px auto;
  width: 1200px;

  div {
    width: 1200px;
    //margin-right: 100px;
    //margin-left: 100px;

    label {
      width: 174px;
      height: 24px;
      display: flex;
      flex-direction: column;
      font-family: $font-mon;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.18px;
      background-color: $quinary-color;

      span {
        padding-bottom: 19px;
        opacity: 0.5;
        white-space: nowrap;
      }

      select {
        width: 285px;
        height: 45px;
        padding: 6px 15px 9px 16px;
        font-family: $font-mon;
        color: #c4c4c4;
        border-radius: 4px;
        border: solid 1px #e8e8e8;
        background-color: $secondary-color;
        //appearance: none;

        option {
          height: 45px;
          padding: 6px 15px 9px 16px;
          border: solid 1px #e8e8e8;
        }
      }

      select:focus {
        outline: none;
      }
    }
  }
}
