@import 'reset';
@import 'variables';

.App {
  min-height: 100vh;
  min-width: 100vw;
}

.Header {
  height: 10vh;
  display: flex;
  background-color: brown;

  h1 {
    color: $primary-color;
  }

  ul {
    display: flex;

  }
}
